#adesivo-canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    background-color: #fff;
    width: 100%;
    max-width: 800px; /* Tamanho máximo para telas maiores */
    height: auto;
    aspect-ratio: 16/9; /* Mantém a proporção */
    overflow: hidden;
    position: relative;
}

@media (max-width: 768px) {
    #adesivo-canvas {
        max-width: 100%; /* Ajusta o canvas para telas menores */
    }
}
